:root {
    --white: #fff;
    --black: #000;
    --serif: 'Lora', serif;;
}

.grafBlock {
    width: 60%;
    margin: 3em 20%;
}

.grafBlock p {
    font-size: 1.15rem;
    margin: 1.5em 0;
    line-height: 2rem;
}

.grafBlock p.lede {
   font-size: 1.4rem;
   font-weight: 500;
}

.block1 img {
    width: 25%;
    margin-bottom: 1em;
}

a {
    color: var(--black);
}

a:hover,
a:active {
    color: #618db6;
}


/* AUDIO */
audio {
    width: 100%;
    margin: 2em 0 0;
}

audio::-webkit-media-controls-panel {
    background-color: #e6eef4;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: var(--serif);
    font-weight: 700;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 3rem;
}

h6,
h6 a {
    color: #757575;
    font-size: 1.1rem;
}

.parallax {
    /* Set a specific height */
    min-height: 500px;
    display: flex;
    align-items: center;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h4 {
    width: 40%;
    margin: 2em;
    font-size: 3.5rem;
    color: var(--white);
    font-weight: 500;
}

.grafBlock.blockCol {
    display: flex;
    width: 70%;
    margin: 0 15%;
}

.colLeft {
    width: 50%;
    margin: 10% 0;
}

.colRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gallery,
#gallerySingle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1em;
}

#gallery img,
#gallerySingle img {
    height: auto;
    object-fit: cover;
    margin: 0.15em;
}

img.tile1 {
    width: 40%;
}

img.tile2 {
    width: 50%;
}

img.tile3,
img.tile4 {
    width: 45%;
}

img.tile5 {
    width: 91%;
}

.pq {
    display: flex;
    flex-direction: column;
    border-top: solid #e0e0e0 0.5em;
    border-bottom: solid #e0e0e0 0.5em;
    width: 88%;
    margin: 2em 0;
    margin-left: 1em;
}

blockquote {
    margin: 1.5em 0 1em;
    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.8rem;
    font-family: var(--serif);
    color: #c6362d;
}

.pq cite {
    margin: 0 0 3em;
    text-align: center;
    font-weight: 700;
}

.juxBlock {
    width: 80%;
    margin: 0 10%;
}

.columns3 {
    display: flex;
    justify-content: center;
}

.imgCol {
    width: 33%;
    margin: 0 0.2em 0 0;
}

.caption {
    font-size: 1rem;
    font-family: var(--serif);
    text-align: center;
    margin: 0.5em 0;
    color: #757575;
    font-weight: 600;
    font-style: italic;
}

.galleryCaptions {
    width: 75%;
    margin: 0 auto 2.5em;
}

.galleryCaptions span {
    font-style: normal;
    font-weight: 900;
}

.galleryCaptions p {
    text-align: left;
}

.columns3 img {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.tileSingle{
    width: 90%;
}

#gallerySingle p {
    font-size: 0.75rem;
    text-align: center;
    margin: 0.5em 0;
    color: #8d8d8d;
    font-weight: 100;
    line-height: 1.25rem;
    width: 90%;
}

.block4 {
    margin: 1em 0;
}

.captionCol {
    width: 33%;
    margin: 0 0.2em 0 0;
    font-family: var(--serif);
    font-weight: 500;
    font-style: italic;
}

.captionCol p {
    text-align: center;
    font-size: 1.1rem;
    margin: 2em 0;
}

.captionCol span {
    font-weight: 900;
}

.captions {
    flex-wrap: wrap;
    margin-bottom: 6em;
}

@media only screen and (max-width: 768px) {
    
    .grafBlock {
        width: 80%;
        margin: 3em 10%;
    }

    .galleryCaptions {
        width: 80%;
    }

    .parallax h4 {
        font-size: 2.2rem;
    }
    
    .grafBlock.blockCol {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .colLeft {
        width: 80%;
        margin: 3em 10%;
    }
    
    .colRight {
        width: 90%;
        margin: 0 5%;
    }

    iframe {
        height: 430px;
    }

    .columns3 {
        flex-direction: column;
        align-items: center;
    }

    .imgCol {
        width: 90%;
    }

    .imgCol p {
        margin-bottom: 3em;
    }

    .captionCol {
        margin: 0;
    }
    
    .captionCol p {
        margin: 0.5em 0;
    }
}

@media only screen and (max-width: 500px) {
    .parallax h4 {
        margin: 1em;
        font-size: 1.8rem;
    }

    .captionCol {
        width: 60%;
    }
}

@media only screen and (max-width: 425px) {
    
    .parallax {
        align-items: flex-end;
    }

    .parallax h4 {
        width: 80%;
        margin: 0 auto 1em;
        font-size: 1.8rem;
    }
}